.well {
	margin: 1em;
}

.page-header {
	padding-bottom: 0;
	margin: 0;
	margin-bottom: 1em;
}

td.title-cell {
	width: 25%;
}

td.section {
	text-align: center;
	vertical-align: middle;
}

td.vcenter {
	vertical-align: middle;
}

.progress {
	margin: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.bar {
	margin: 0;
}