.hidden {
	display: none;
}

.well {
	margin: 1em;
}

.machine-header {
	padding-bottom: 0;
	margin: 0;
	margin-bottom: 1em;
	cursor: pointer;
}

td.title-cell {
	width: 25%;
}

td.section {
	text-align: center;
	vertical-align: middle;
}

td.vcenter {
	vertical-align: middle;
}

.progress {
	margin: 0;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.bar {
	margin: 0;
}

tr {
	background-color: white;
}

tr#running-row > td {
	color: rgb(70, 136, 71);
}

tr#sleeping-row > td{
	color: rgb(58, 135, 173);
}

tr#stopped-row > td {
	color: rgb(192, 152, 83);
}

tr#zombie-row > td {
	color: rgb(185, 74, 72);
}

tr.expand-highlight:hover {
	background-color: #EDEDED;
}

.interrupt-rows:hover {
	background-color: #C7C9FF;
}

.cursor-pointer {
	cursor: pointer;
}